body {
    margin: 0;
}

.container {
    display: grid;
    grid-template: 1fr 2fr 2fr / 1fr 3fr 1fr;
    height: 100vh;
    width: 100vw;
}

#sidebar {
    border: 1px solid black; 
    grid-area: 1 / 1 / 4 / 2;
}

#header {
    border: 1px solid black;
    grid-area: 1 / 2 / 2 / 4;
}

#projects {
    border: 1px solid black;
    grid-area: 2 / 2 / 4 / 3;

}

#announcements {
    border: 1px solid black;
    grid-area: 2 / 3 / 3 / 4;
}

#trending {
    border: 1px solid black;
    grid-area: 3 / 3 / 4 / 4;

}